* {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    margin: 0;

}

h1 {
    margin: 10px;
    font-weight: 700;
}

.box {
    background-color: rgba(119, 54, 181, 0.678);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}

.box h2 {
    font-size: 2.5rem;
}